<!DOCTYPE html>
<html>

<head>
    <title>

    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>
        Edit Car Inventory
    </h1>
    <p>Edit a Car Post</p>
    <form action="/cars/<%= carsPosts.id %>/edit" method="post">
        <label for="manufacturer">Manufacturer:</label><br>
        <input type="text" id="Manufacturer" name="Manufacturer" value="<%= carsPosts.manufacturer %>"><br><br>
        <label for="model">Model:</label><br>
        <input type="text" id="model" name="Model" value="<%= carsPosts.model %>"><br><br>
        <label for="color">Color:</label><br>
        <input type="text" id="color" name="Color" value="<%= carsPosts.color %>"><br><br>
        <label for="year">Year:</label><br>
        <input type="text" id="year" name="Year" value="<%= carsPosts.year %>"><br><br>
        <input type="submit" value="Submit">
    </form>



</body>

</html>